.navbar {
    position: fixed;
    min-height: 60px;
    top: 0px;
    width: 100%;
  }

.btn-play {
  position: fixed;
  width: 7.5em;
  height: 3em;
  bottom: 1em;
  right: 1em;
  font-size: 2em;
}
