@font-face {
    font-family: Pixelar Regular;
    src: url('https://aavegotchi.com/fonts/Pixelar%20Regular.woff2');
  }
  

html *
{
   font-family: Pixelar Regular !important;
}

body {
    margin: 0;
    background-color: black;
}

#phaser-wrapper {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

#logo {
    position: absolute;
    width: 33%;
    left: 33%;
    top: 20% ;
}

#start-btn {
    cursor:pointer;
    border: 5px solid #360c7c;
    position: absolute;
    left: calc(50% - (15% / 2));
    top: 70%;
    width: 15%;
    height: 7%;
    background-color: #6d18f8;
    color: white;
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 3px #999;
}

#start-btn:hover 
{
    background-color: #8035f8
}

#start-btn:active {
    background-color: #6d18f8;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }