html, body {
  height: 100%;
  position: relative;
  color: white;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  font-family: Rocks !important;
}

video {
  object-fit: cover;
}

.navbar-brand,
.nav-link {
  font-size: 2em;
}

.navbar {
    position: fixed;
    min-height: 10px;
    top: 0px;
    width: 100%;
}

.container-fluid {
  padding: 0px;
}

.btn-wallet {
  position:relative;
  width: 275px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  margin-right: -40px;
}

.btn-wallet-text {
  padding-top: 36px;
  position:relative;
  font-size: 21px;
  left:0;
  color: white;
  pointer-events: none;
  text-shadow: 2px 2px #080808;
}

.btn-wallet img{
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.btn-wallet-top {
  opacity: 0;
  content: url("../images/wallet_connect_hover.svg");
  width: 275px;
  height: 100px;
}

.btn-wallet-top:hover {
  opacity:1;
}

.btn-wallet-bottom {
  content: url("../images/wallet_connect.svg");
  width: 275px;
  height: 100px;
}
