body {
    background-image: url("../../public/assets/images/background.jpg");
    background-repeat: repeat;
  }
  
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url("../../public/assets/images/navbar.jpg");
}

.nav-link {
  font-size: 1.25em;
}