html, body {
  height: 100%;
  position: relative;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  font-family: Rocks !important;
}

video {
  object-fit: cover;
}
  
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-link {
  font-size: 1.25em;
}

.container-fluid {
  padding: 0px;
}